<html>
<head>
    <title></title>
</head>
<body>
    <h2>Would you like to login or signup?</h2>

    {% if session.get("user_email", False) %}
        <div>
            User: {{ g.user.email }}
        </div>
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login_form">Login</a>
        <a href="/signup_form">Signup</a>
    {% endif %}

    <a href="/get_user_list">View All Users</a>
    <a href="/get_movie_list">View All Movies</a>




    {% block body %}
    {% endblock %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}

</body>
</html>