{% extends "index.html" %}
{% block body %}

    {% for movie in movies %}
        {% if session.get("user_id", False) %}
        <form action="/update_movie_rating?movie={{ movie.id }}" method="POST">
            <h4><a href="/movie/{{movie.id}}">{{ movie.name }}</a> has {{ movie.ratings|length }} ratings.</h4>
            {% if average %}
            <p>Average rating: {{ average }}</p>
            {% endif %}
            {% if user_rating %}
            <p>Your rating: {{ user_rating }}</p>
            <p>The Eye says: {{ beratement }}</p>
            Update your Rating:
            {% elif prediction %}
            <p>How much we think you might like this movie: {{ prediction }}</p>  
            Rate this movie: 
            {% else %}
            Rate movie:
            {% endif %}
            
            <input name="rating" type="text" maxlength="1" size="4"><input type="submit" value="Update Rating">     
        </form>
        {% else %}
            <h4><a href="/movie/{{movie.id}}">{{ movie.name }}</a> has {{ movie.ratings|length }} ratings</h4>
            {% if average %}
                <p>Average rating: {{ average }}</p>
            {% endif %}
        {% endif %}
    {% endfor %}

{% endblock %}