{% extends "index.html" %}
{% block body %}
<div id="loginBox">
    <form action="/signup" method="POST">
        <div>
            <label class="leftLabel" for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="email">
        </div>
        <div>
            <label class="leftLabel" for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="password">
        </div>
        <div>
            <label class="leftLabel" for="age">Age</label>
            <input type="text" id="age" name="age" placeholder="age">
        </div>
        <div>
            <label class="leftLabel" for="zipcode">Zipcode</label>
            <input type="text" id="zipcode" name="zipcode" placeholder="zipcode">
        </div>
        <div>
            <input class="leftLabel" type="submit" value="Signup">
        </div>
    </form>
</div>

{% endblock %}

